<%# if @question is persisted then the `form_for` helper will make the action submit to question_path(@question) and it will make the HTTP request PATCH.
form_for will also prepopulate the fields with the data fetched from the database%>
<%= @question.errors.full_messages.join(", ") %>
<%= form_for @question do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
  </div>
  <%= f.submit %>
<% end %>
