<h1>Edit Question</h1>

<!-- <%= @question.errors.full_messages.join(", ") %> -->
<%# if @question is persisted then the `form_for` helper will make the action submit to question_path(@question) and it will make the HTTP request PATCH.
form_for will also prepopulate the fields with the data fetched from the database%>
<!-- <%= form_for @question do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %> -->

<%= render "form" %>
