<h1><%= @question.title.titleize %></h1>
<p><%= @question.body %></p>
<p>Views: <%= @question.view_count %></p>
<p>Created By: <%= @question.user.full_name if @question.user %></p>
<%= link_to "Edit", edit_question_path(@question) %>
<%= link_to "Delete", question_path(@question),
                      method: :delete,
                      data:   {confirm: "Are you sure?"} %>
<%#= form_for @answer, url: question_answers_path(@question) do %>
<h2>Create an Answer</h2>
<%= @answer.errors.full_messages.join(", ") %>
<%= form_for [@question, @answer] do |f| %>
  <div>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<h2>Answers</h2>
<% @question.new_first_answers.each do |ans| %>
  <%= ans.body %>
  <%= link_to "Delete", question_answer_path(@question, ans),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
  <hr>
<% end %>
