<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  |
  <!-- <a href="<%= about_path %>">About Us</a>
  |
  <a href="<%= about_url %>">About Us</a> -->
  <%# link_to is a helper method that is built-in with Rails %>
  <%= link_to("About Us", about_path, {class: "abc", id: "xyz"}) %>
  |
  <a href="<%= greet_path({name: "John"}) %>">Greet John</a>
  |
  <a href="<%= greet_path("Tam") %>">Greet Tam</a>
  |
  <%= link_to "Cowsay", cowsay_path %>
  |
  <%= link_to "Temp", temperature_path %>
  |
  <%= link_to "Bill", bill_path %>
  |
  <%= link_to "Randomize", winner_path %>
  |
  <%= link_to "All Questions", questions_path %>
  |
  <% if user_signed_in? %>
    Hello, <%= current_user.first_name %>
  <%= link_to "Sign Out", sessions_path, method: :delete %>
  <% else %>
  <%= link_to "Sign Up", new_user_path %>
  <%= link_to "Sign In", new_session_path %>
  <% end %>
  <hr>
  <% if flash[:notice] %>
  <div class="flash-notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
  <div class="flash-alert"><%= flash[:alert] %></div>
  <% end %>
<%= yield %>

</body>
</html>
